<div>
    <h2>
        <span jhiTranslate="jhispterApp.goviesType.home.title">Govies Types</span>
        <button class="btn btn-primary float-right jh-create-entity create-govies-type" [routerLink]="['/', { outlets: { popup: ['govies-type-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jhispterApp.goviesType.home.createLabel">
            Create new Govies Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="goviesTypes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jhispterApp.goviesType.fullName">Full Name</span></th>
            <th><span jhiTranslate="jhispterApp.goviesType.shortName">Short Name</span></th>
            <th><span jhiTranslate="jhispterApp.goviesType.conventionBase">Convention Base</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let goviesType of goviesTypes ;trackBy: trackId">
                <td><a [routerLink]="['../govies-type', goviesType.id ]">{{goviesType.id}}</a></td>
                <td>{{goviesType.fullName}}</td>
                <td>{{goviesType.shortName}}</td>
                <td jhiTranslate="{{'jhispterApp.ConventionBase.' + goviesType.conventionBase}}">{{goviesType.conventionBase}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../govies-type', goviesType.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'govies-type/'+ goviesType.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'govies-type/'+ goviesType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
